.App {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
table { 
	width: 67vw; 
	border-collapse: collapse; 
	}

/* Zebra striping */
tr:nth-of-type(odd) { 
	background: #eee; 
	}

th { 
	background: #3498db; 
	color: white; 
	font-weight: bold; 
	}

td, th { 
	padding: 10px; 
	border: 1px solid #ccc; 
	text-align: left; 
	font-size: 18px;
	}
